<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Fire</span>
</mat-toolbar>

<div class="content-wrapper">
  <mat-form-field>
    <mat-label>Enter item</mat-label>
    <input matInput (keydown.enter)="addItem($event)" />
  </mat-form-field>

  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>

      <mat-card
        cdkDropList
        #backlogList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <mat-card class="item" *ngFor="let item of todo" cdkDrag>{{ item }}</mat-card>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>

      <mat-card
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[backlogList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <mat-card class="item" *ngFor="let item of inProgress" cdkDrag>{{ item }}</mat-card>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[backlogList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list"
      >
        <mat-card class="item" *ngFor="let item of done" cdkDrag>{{ item }}</mat-card>
      </mat-card>
    </div>
  </div>
</div>
